#press{
  @include backgroundImage("../src/images/JPTR-the-absenceof-bg.jpg");

  #pageheader{
    display:none;
  }

  div.container{
    padding-top:0;
  }

  #nav-toggle{
    display:none;
  }

  #sllinks{
    right:0;
  }

  .contentwrap{
  	width: 80%;
  	max-width: 600px;
  	margin: 0 2em;
  	text-align: left;
    position:relative;
  	z-index:1;
  	padding: 0 0 7em 0;
  	}

  .contentwrapout{
  	width: 100%;
  	margin: 0 auto;
  	text-align: left;
  	z-index:1;
  	padding: 0 0 1.25em 0;
  	}

  .pagecontent{
  	min-height:820px;
  	}

#press-pageheader{
  position: absolute;
  width: 100%;
  height: 4em;
  margin: 0em 2em 0em 0em;
  padding-top:1em;
  z-index:999;
  @include breakpoint(bp){
    position: relative;
    height: auto;
    margin-top: -169px;
    transition:0.4s;
  }
}

#press-nav-toggle{
  position:absolute;
  top:0;
  right:0;
  z-index: 999;
  display:none;
    @include breakpoint(bp){
      margin-top: 1em;
      margin-right: 1em;
      display: block;
    }
  }

/* Class we toggle */
.show {
  margin-top: 0!important; /* to overide inline style */
}

.showbottom {
  margin-bottom: 0!important; /* to overide inline style */
}

div#press-nav{
  width:100%;
  display:inline-block;
  float:right;
  z-index: 999;
  @include breakpoint(bp){
    float:none;
    text-align: right;
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float:right;

    li{
      float:left;
      @include breakpoint(bp){
        float:none;
      }

      a{
        font-size:1.5em;
        text-decoration: none;
        font-weight: 900;
        color: white;
        margin-right: 1em;
        line-height: 1.5em;
        @include breakpoint(bp){
          display:block;
          margin-right: 2.5em;

        }
      }
    }
  }
}



#press-nav-toggle {
	cursor: pointer;
	padding: 10px 35px 16px 0px;
}

#press-nav-toggle span, #press-nav-toggle span:before, #press-nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#press-nav-toggle span:before {
  top: -10px;
}
#press-nav-toggle span:after {
  bottom: -10px;
}

#press-nav-toggle span, #press-nav-toggle span:before, #press-nav-toggle span:after {
  transition: all 500ms ease-in-out;

}
#press-nav-toggle.active span {
  background-color: transparent;
}
#press-nav-toggle.active span:before, #press-nav-toggle.active span:after {
  top: 0;
}
#press-nav-toggle.active span:before {
  transform: rotate(45deg);
}
#press-nav-toggle.active span:after {
  transform: rotate(-45deg);
}

  h2{
    padding-top: 2em;
  }

  p{
    font-size: 1.25em;
    line-height: 1.5em;
  }

  .shows p{
    margin: 0;
  }
  .bookinglabelbox{
    float:left;
    width: 300px;
  }
  .bookinglabel{
    width:200px;
  }
  .jptrtitle{
  	font-size: 2em;
  	text-align: center;
  	margin: 40vh 0 40vh 0;
  	font-weight: bold;
  	font-style: italic;
  }

  .videowrap{
  	margin: 1em 0;
  }

  .navborderleft{
  	display:inline-block;
  	border-bottom: 0.375em double #fff;
    }

  .navborderright{
  	display:inline-block;
  	border-bottom: 0.375em double #fff;
  	}

  nav {
  	z-index: 1000;
  	text-align: center;
  	position:relative;
  	}

  nav ul {
  	margin: 0;
  	}

  nav ul li {
    	display: inline-block;
    	vertical-align:middle;
    	padding: 0.5em 1.625em 0.75em 1.625em;
    	width: 11.625em;
  	}

  nav ul li a:hover{
  	color: #000;
  	}
}
  /* 8. Media Queries
  ----------------------------------------------------------------- */
@media (max-width: 960px) {
  #press{
    nav ul li{
    	padding: 0.5em 1.225em 0.5em 1.225em;
    	width: 9em;
    	}

    nav ul li a{
    	font-size: 2em;
    	}

    #sidenav{
    	background: #000;
    	position: fixed;
    	top: 0em;
    	padding: 0em;
    	left: 0em;
    	text-transform: uppercase;
    	font-size: 1.5em;
    	z-index: 999;
    	width: 100%;
    	}

    #sidenav ul{
      display: inline-block;
      padding: 0em;
      margin:1em;

    }

    #sidenav ul li{
    	display: inline;
    	}

    body{
    	padding-top: 4em;
    }


    #jptrtitle{
    	font-size: 6em;
    }
  }
}

@media (max-width: 755px) {
  #press{
    body {
    	font-size: 12px;
    	}

    .navborderright{
    	border-bottom: 0em double #fff;
    	border-top: 0.375em double #fff;
    }

    .onequarter{
    	width:50%;
    }

    .onethird{
    	width:50%;
    }

    .half{
    	width: 100%;
    }

    #footer{
    	height:12em;
    }

    nav{
      margin: 0 0 20px 0;
    }

    nav ul{
      padding: 0em;
    }

    nav ul li{
    	width: 9.75em;
    }

    td{
    	height: 1.5em;
    }

    #jptrpic{
    	margin: -22em 0 0 -20em ;
    }
  }
}
